@model VotingApp.Models.CreatedVote
@{
    ViewData["Title"] = "Create Page";
}

<div class="text-center">
    <h1 class="display-4">Create A New Vote</h1>
    <hr />
</div>

<div class="text-center">
    <div class="row">
        <form asp-action="Index" method="post">
            <div class="form-row mb-2">
                <label asp-for="VoteDiscription">Please enter your vote description in the box below (required):</label>
                <textarea asp-for="VoteDiscription" class="form-control" type="text" rows="5"></textarea>
                <span asp-validation-for="VoteDiscription" class="text-danger"></span>
            </div>
            <div class="form-row mb-2">
                <label asp-for="VoteTypeId" class="control-label">Please choose which type of vote you would like to create</label>
                <select asp-for="VoteTypeId" class="form-control" asp-items="ViewBag.VoteTypeId"></select>
                <span asp-validation-for="VoteTypeId" class="text-danger"></span>
            </div>
            <div class="row mb-2 justify-content-center">
                <h4><u>Voting Type Descriptions:</u></h4>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Yes/No Vote:</h5>
                            <p class="card-text">Voters Will get to choose between two simple options: yes or no.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
