@{
    ViewData["Title"] = "VotingApp - Admin Page";
}
<h1>Admin Page</h1>
<h3>Welcome to the admin page. Only admin can see this page</h3>
<div class="row">
    <div class="col">
        <h4>View Created Votes in System</h4>
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewAll">View Votes</a>
    </div>
</div>

    
